<div>
  <div class="form-content">
    <ul class="list-group">
      <li *ngFor="let cust of list" class="list-group-item">
        <div class="font-bold">{{ cust.customerName }}</div>
        <div>
          <table width="80%">
            <thead>
              <th>Title</th>
              <th>Code</th>
              <th>Delivered Date</th>
              <th>Returned Date</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let dvd of cust.dvds">
                <td>
                  {{ dvd.title}}
                </td>
                <td>
                  {{ dvd.code }}
                </td>
                <td>{{dvd.deliveryDate | date:'MM/dd/yyyy'}}</td>
                <td>{{dvd.returnDate | date:'MM/dd/yyyy'}}</td>
                <td>
                  <button class="btn btn-info" (click)="onReturnClick(cust.customerSubscriptionId,dvd.code,dvd.dvdCatalogId)" >Recieve</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
  </div>
</div>
