<div>
  <div class="form-content">
    <div class="input-group col-md-4">
      <button
        class="btn btn-outline-secondary"
        routerLink="/subscription/add"
        type="button"
      >
        Add new
      </button>
    </div>

    <!--Table-->
    <table class="table">
      <thead class="thead-light">
        <th scope="col">Name</th>
        <th scope="col">At home DVD</th>
        <th scope="col">DVD per Month</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
      <tbody>
        <tr *ngFor="let s of subscriptions">
          <td>{{ s.name }}</td>
          <td>{{ s.atHomeDvd }}</td>
          <td>{{ s.noDvdperMonth }}</td>
          <td>{{ s.price | number : "1.0-1" }}</td>

          <td>
            <a
              class="fa-solid fa-pen-to-square"
              routerLink="/subscription/{{ s.id }}"
              alt="edit"
            ></a>
          </td>
          <td>
            <a
              class="fa-solid fa-eye"
              routerLink="/subscription/{{ s.id }}"
              alt="view"
            ></a>
          </td>
          <td>
            <a
              class="fa-solid fa-circle-minus"
              alt="delete"
              (click)="deleteOne(s.id)"
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
